<a routerLink="/admin/products/new" class="btn btn-primary">Create New Product</a>
<hr>

<div>
  <input #searchBy (keyup)="searchProducts(searchBy.value)" class="form-control" type="text" placeholder="Search...">
</div>

<hr>
<p class="text-center">List of Products</p>
<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as i">
      <td>{{i+1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.category.name}}</td>
      <td><a [routerLink]="['/admin/products/', product.id]" class="btn btn-primary">Edit</a></td>
    </tr>
  </tbody>
</table>
