<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="/" class="text-info">
      <i class="fa fa-pagelines" aria-hidden="true" style="font-size:48px;color:red"></i>
    </a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="/shopping-cart">
      <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:30px;color:blueviolet" ></i>
      <span class="badge badge-pill badge-warning">{{totalItems}}</span>
      <span>{{testString}}</span>
    </a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem] *ngIf="!backEnd.isLoggedIn()">
    <a class="btn btn-info" ngbNavLink routerLink="/login">Login</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem] *ngIf="!backEnd.isLoggedIn()">
    <a class="btn btn-danger" ngbNavLink routerLink="/register">Register</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem] *ngIf="backEnd.userName()">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
        {{ backEnd.userName() }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/my/orders">My Orders</button>
        <button
          *ngIf="backEnd.isAdmin()"
          ngbDropdownItem
          routerLink="/admin/orders"
        >
          Manage Orders
        </button>
        <button
          *ngIf="backEnd.isAdmin()"
          ngbDropdownItem
          routerLink="/admin/products"
        >
          Manage Products
        </button>
        
      </div>
    </div>
  </li>
  <li [ngbNavItem] *ngIf="backEnd.isLoggedIn()">
    <a class="btn btn-info" ngbNavLink routerLink="/logout" (click)='backEnd.logOut()'>Logout</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>