<form #f="ngForm" (ngSubmit)='onSubmit(f)'>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      required minlength="3"
      ngModel
      #name = "ngModel"
      type="text"
      class="form-control"
      name="name"
      placeholder="Enter name"
      autofocus
    />
    <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
      <div *ngIf="name.errors.required">Name is required</div>
      <div *ngIf="name.errors.minlength">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      required
      email='true'
      ngModel
      #email="ngModel"
      appLowerCase
      type="email"
      class="form-control"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      (change)="test(email)"
    />
    <small id="emailHelp" class="form-text text-muted"
      >
      We'll never share your email with anyone else.
      </small>
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email is invalid</div>
      </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      required minlength="3"
      #password
      ngModel
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  <button [disabled]='!f.valid' type="submit" class="btn btn-primary">Submit</button>
  {{f?.value|json}}
</form>
