<div class="row">
  <div class="col">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          #title="ngModel"
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="product.name"
          required
          name="name"
          placeholder="Enter title"
        />

        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
          Title is Required
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>

          <input
            #price="ngModel"
            type="number"
            [(ngModel)]="product.price"
            required
            [min]="0"
            name="price"
            class="form-control"
            id="price"
            placeholder="Price"
          />
        </div>

        <div
          *ngIf="price.touched && price.errors?.required"
          class="alert alert-danger"
        >
          Price is Required
        </div>
        <div
          *ngIf="price.touched && price.errors?.min"
          class="alert alert-danger"
        >
          Price is minimum 0
        </div>
      </div>
      <div class="form-group">
        <label for="categoryId">Category</label>
        <select
          class="text"
          #categoryId="ngModel"
          required
          name="categoryId"
          [(ngModel)]="product.categoryId"
          class="form-control"
          id="categoryId"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div
          *ngIf="categoryId.touched && categoryId.invalid"
          class="alert alert-danger"
        >
          Category is Required
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input
          #imageUrl="ngModel"
          type="text"
          class="form-control"
          id="imageUrl"
          [(ngModel)]="product.imageUrl"
          required
          url
          name="imageUrl"
          placeholder="Enter title"
        />
        <div
          *ngIf="imageUrl.touched && imageUrl.errors?.required"
          class="alert alert-danger"
        >
          Image Url is Required
        </div>
        <div *ngIf="imageUrl.errors?.url" class="alert alert-danger">
          Invalid Url
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onDelete(product.id)"
      >
        Delete
      </button>
    </form>
  </div>
  <product [product]='f.value'></product>
</div>

{{ f?.value | json }}
{{ f.value.name }}
