<form #f="ngForm" (ngSubmit)="onSubmit(f, 'users')">

  <div class="form-group">
    <label for="email">Email address</label>
    <input
      required
      email='true'
      ngModel
      #email="ngModel"
      appLowerCase
      type="email"
      class="form-control"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >
      We'll never share your email with anyone else.
      </small>
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email is invalid</div>
      </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      required minlength="3"
      #password
      ngModel
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
    <button type="submit" class="btn btn-primary"[disabled]="!f.valid">Log In</button>
  </form>